{% extends 'base.twig' %}

{% block header %}
    <div class="jumbotron">
        <h1>tit for Tat</h1>
        <div>
            <a id="register-button" class="btn btn-success pull-right" href='/register'>Register</a>
            <a id="login-button" class="btn btn-primary pull-right"  href='/login'>Login</a>
        </div>
    </div>
{% endblock %}

{% block content %}
<p>There should be some charts or something here...</p>
{% endblock %}