{% extends 'base.twig' %}
{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Register</h3>
                </div>
                <div class="panel-body">
                    <form id="register-form">
                        <input type="text" class="form-control" placeholder="Email" id="email" />
                        <div class="input-group" style="width: 100%;">
                            <input type="text" class="form-control" placeholder="Username" id="username" style="width:50%;" />
                            <input type="password" class="form-control" placeholder="Password" id="password" style="width:50%;" />
                        </div>
                        <button type="submit" id="register-form-button" class="btn btn-primary pull-right">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}