body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

#login-register-buttons a {
	margin-right: 15px;
}

#register-form .input-group .form-control,
#login-form .input-group .form-control {
	margin-bottom: 15px;
}
